<ion-header>
  <ion-toolbar transparent>
   <ion-title>Add Developer</ion-title>
   <ion-buttons end>
     <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
   </ion-buttons>
  </ion-toolbar>
 </ion-header>
  
 <ion-content> 
   <ion-list no-lines>
  
     <ion-item>
       <ion-label floating>Name</ion-label>
       <ion-input [(ngModel)]="name" type="text"></ion-input>
     </ion-item>
  
     <ion-item>
       <ion-label floating>Age</ion-label>
       <ion-textarea [(ngModel)]="age"></ion-textarea>
     </ion-item>

     <ion-item>
      <ion-label floating>Languages</ion-label>
      <ion-textarea [(ngModel)]="languages"></ion-textarea>
    </ion-item>
  
     <ion-item>
       <ion-range min="0" max="100" pin="true" [(ngModel)]="rating">
         <ion-icon range-left name="sad"></ion-icon>
         <ion-icon range-right name="happy"></ion-icon>
       </ion-range>
     </ion-item>
  
   </ion-list>
  
   <button ion-button full color="secondary" (click)="save()">Save</button>
   </ion-content>