
<ion-header>
  <ion-navbar transparent>
   <ion-title>
     DevC Developers
   </ion-title>
   <ion-buttons end>
     <button ion-button icon-only (click)="addDeveloper()"><ion-icon name="add"></ion-icon></button>
   </ion-buttons>
  </ion-navbar>
 </ion-header>
  
 <ion-content>
  
   <ion-list no-lines>
  
     <ion-item-sliding *ngFor="let developer of developers">
  
       <ion-item>
  
         <ion-avatar item-left>
           <img src="https://api.adorable.io/avatars/75/{{developer.name}}">
         </ion-avatar>
  
         <h2>{{developer.name}}</h2>
         <p>{{developer.age}}</p>
         <p>{{developer.languages}}</p>
  
         <ion-icon *ngIf="developer.rating < 50" danger name="sad"></ion-icon>
         <ion-icon *ngIf="developer.rating >= 50" secondary name="happy"></ion-icon>
         {{developer.rating}}
  
       </ion-item>
  
       <ion-item-options>
         <button ion-button color="danger" (click)="deleteDeveloper(developer)">
           <ion-icon name="trash"></ion-icon>
           Delete
         </button>
       </ion-item-options>
     </ion-item-sliding>
  
   </ion-list>
  
 </ion-content>